<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link type="text/css" rel="stylesheet" href="/css/ideaBoard.css" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="header-logo">
                    <!-- <img src="" alt="" /> -->
                    GAME SYNC
                </div>
                <div class="header-icon">
                    <a href="/">
                        <img src="/images/my.png" alt="" />
                    </a>
                </div>
            </div>
            <div id="container">
                <div class="ideaBoard-img">
                    <h2 class="ideaBoard-text">게임 기획, 아이디어 게시판</h2>
                    <img src="/images/ideaBoard.jpg" alt="" />
                </div>
                <div class="write-btn-wrap">
                    <div class="write-btn">WRITE</div>
                </div>
                <div class="ideaBoard-wrap">
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                    <ul class="ideaBoard-box">
                        <li class="box-img">
                            <img src="/images/game2.jpg" alt="" />
                        </li>
                        <li class="box-name">리버스:1999</li>
                        <li class="box-category">롤플레잉</li>
                        <li class="box-hit">👍 1000</li>
                    </ul>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>
