<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link type="text/css" rel="stylesheet" href="/css/ideaBoard.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="header-logo">
                    <!-- <img src="" alt="" /> -->
                    GAME SYNC
                </div>
                <div class="header-icon">
                    <a href="/">
                        <img src="/images/my.png" alt="" />
                    </a>
                </div>
            </div>
            <div id="container">
                <div class="ideaBoard-img">
                    <h2 class="ideaBoard-text">게임 기획, 아이디어 작성하기</h2>
                    <img src="/images/ideaBoard.jpg" alt="" />
                </div>
                <form
                    action=""
                    method="post"
                    id="ideaBoardForm"
                    enctype="multipart/form-data"
                >
                    <input
                        type="text"
                        name="title"
                        placeholder="기획한 아이디어 제목을 적어주세요"
                    />
                    <input
                        type="text"
                        name="author"
                        placeholder="작성자 이름음 적어주세요"
                    />
                    <select name="category">
                        <option disabled selected>선택하세요</option>
                        <option value="1">롤플레잉</option>
                    </select>
                    <textarea
                        name="content"
                        placeholder="기획한 아이디어의 내용을 작성해주세요"
                    ></textarea>
                    <span>썸네일 등록</span>
                    <input type="file" name="upload" />
                    <button type="submit">글쓰기</button>
                </form>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>
