<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY PAGE</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <link type="text/css" rel="stylesheet" href="/css/mypage.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="header-wrap">
          <div class="header-logo">
            <a href="/">GameSync</a>
          </div>
          <div class="header-icon">
            <a href="/users/login">
              <img src="/images/my.png" alt="" />
            </a>
          </div>
        </div>
        <div class="full-drop">
          <div class="drop-wrap">
            <div class="drop-down">
              <a href="/develop/developBoards/">게임 개발 게시판</a>
            </div>
            <div class="drop-down">
              <a href="/idea/ideaBoards/">게임 기획, 아이디어 게시판</a>
            </div>
            <div class="drop-down">
              <a href="/notice/notices/">공지사항</a>
            </div>
            <div class="drop-down">
              <a href="/users/user">마이페이지</a>
            </div>
            <div class="drop-down">
              <a href="/users/admin">admin</a>
            </div>
          </div>
        </div>
      </div>
      <div id="container">
        <div class="myinfo-wrap">
          <div class="wrapper">
            <div class="user-info">
              <div class="user-img">
                <img src="/images/my.png" alt="" />
              </div>
              <div class="user-text-wrap">
                <h2>user name? email?</h2>
                <p>
                  작성한 글
                  <span class="boardcount">0</span> &nbsp 작성한 댓글
                  <span class="commentcount">0</span>
                </p>
                <p class="user-text">간단한 한줄 자기소개 적기</p>
              </div>
            </div>
            <div class="user-edit">
              <a href="/users//user/modify">
                수정하기
                <img src="/images/edit.png" alt="" />
              </a>
            </div>
          </div>
          <div class="menu">
            <a href="">MY info</a>
            <a href="">board</a>
            <a href="">comment</a>
            <a href="">chatting</a>
          </div>
        </div>
        <div class="info-wrap">
          <div class="show-info">
            <div>이름 :</div>
            <div>닉네임 :</div>
            <div>이메일 :</div>
            <div>비밀번호 :</div>
            <div>생년월일 :</div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <a href="https://github.com/HohyunKim-kr/GameSync-" target="_blank">
        <img src="/images/git.png" alt="" />
      </a>
      <a
        href="https://www.notion.so/6e7c5fa81141402d857da70dd2c867f1?v=e68659f259a04af98ace30ca01acede4"
        target="_blank"
      >
        <img src="/images/notion.png" alt="" />
      </a>
    </div>
  </body>
</html>
