<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/developBoard.list.css" />
  </head>
  <body>
    <div id="developBoard">
      <header>
        <div>
          <p>GameSync</p>
        </div>
        <div class="header-icon">
          <a href="/">
            <img src="/images/my.png" alt="" />
          </a>
        </div>
      </header>
      <div id="pageTitle">
        <h2>게임 개발 게시판</h2>
        <img src="/images/ideaBoard.jpg" alt="" />
      </div>
      <div id="developBody">
        <div class="writeBTn"><button>write</button></div>
        <div class="userWork">
          <ul>
            <li><img src="/images/game2.jpg" alt="" /></li>
            <li><a href="/">이름</a></li>
            <li><span>날짜</span></li>
            <li><span>👍별</span></li>
          </ul>
          {{developBoards.map((developBoard)=>(
          <ul>
            <li><img src="/images/game2.jpg" alt="" /></li>
            <li><a href="/">{developBoard.id}</a></li>
            <li><span>날짜</span></li>
            <li><span>👍별</span></li>
          </ul>
          ))}}
        </div>
      </div>
    </div>
  </body>
</html>
