* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

#app {
    width: 100%;
    font-family: "Pretendard-Regular", sans-serif;
}

.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    width: 60%;
    margin: 80px auto 0;
    background-color: #5974ad;
    /* border-radius: 10px; */
    font-family: "Pretendard-Regular", sans-serif;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.commentFrm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.comment-form > h4 {
    font-size: 22px;
    margin-bottom: 15px;
}

.ps_box {
    width: 80%;
    padding: 10px 14px;
    box-sizing: border-box;
    background-color: #d5e0f8;
    font-family: "Pretendard-Regular", sans-serif;
}

.ps_box > input {
    display: inline-block;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 7px 14px;
}

.btn {
    width: 18%;
    padding: 18px 0 16px;
    background: #333;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.comment-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    font-family: "Pretendard-Regular", sans-serif;
}

.comment-row > li:nth-child(2) {
    flex-shrink: 0;
    flex-grow: 1;
    padding-left: 25px;
    cursor: pointer;
}

.comment-update-input {
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 16px;
    padding: 3px 7px;
    color: #333;
    box-sizing: border-box;
    font-family: "Pretendard-Regular", sans-serif;
}
