.developBoard-img {
    background-color: #ffd520;
    width: 100%;
    max-width: 1920px;
    height: 160px;
    position: relative;
    padding: 50px 0;
    font-family: "Pretendard-Regular", sans-serif;
}

.view-text {
    width: 60%;
    margin: 0 auto;
}

.developBoard-img img {
    width: 100%;
    opacity: 0.5;
}

.view-box {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}

.hit,
.like,
.comment_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.view-wrap {
    width: 100%;
    font-family: "Pretendard-Regular", sans-serif;
}

.dataimg {
    width: 500px;
    margin: 30px auto;
}

.dataimg img {
    width: 100%;
}

.data-content {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.btnmenu {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: "Pretendard-Regular", sans-serif;
}

.tolist {
    background-color: #ffd520;
    font-size: 1.1rem;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}
.tolist a {
    line-height: 30px;
}

.tomodify {
    background-color: #ffd520;
    font-size: 1.1rem;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}
.tomodify a {
    line-height: 30px;
}

.todelete,
.likebtn {
    background-color: #ffd520;
    font-size: 1.1rem;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: "Pretendard-Regular", sans-serif;
}
