.developBoard-img {
    width: 100%;
    max-width: 1920px;
    height: 200px;
    overflow: hidden;
    position: relative;
    font-family: "Pretendard-Regular", sans-serif;
}

.developBoard-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 99;
}

.developBoard-img img {
    width: 100%;
    opacity: 0.5;
}

#developBoardForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    font-family: "Pretendard-Regular", sans-serif;
}

.firstLine {
    width: 80%;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    /* border: 1px solid floralwhite; */
}
.category {
    font-size: 14px;
    padding: 10px 15px;
    width: 130px;
    margin-left: 20px;
    border-radius: 15px;
    outline: none;
}
.author {
    font-size: 14px;
    padding: 10px 15px;
    width: 250px;
    margin-left: 20px;
    padding: 10px 14px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.secondLine {
    width: 90%;
    margin-top: 15px;
    margin-left: 20px;
}

.title {
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
}

.thirdLine {
    /* border: 1px solid #747373; */
    width: 90%;
    margin-left: 20px;
}
.content {
    height: 400px;
    width: 100%;
    resize: none;
    border: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 15px;
}

/* 파일 업로드 컨테이너 스타일링 */
.file-upload-container {
    width: 90%;
    margin-top: 15px;
    margin-left: 20px;
    color: #fff;
}

.uploadbtn {
    width: 150px;
    height: 35px;
    border: 1px solid #fff;
    margin-top: 20px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: #ffd520;
        border: none;
        color: #000;
    }
}

/* 파일 업로드 input 숨기기 */
.file-upload-container input[type="file"] {
    display: none;
}

/* 썸네일 미리보기 스타일링 */
.thumbnail-preview {
    margin-top: 10px;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail-preview img {
    width: 100%;
    height: auto;
    display: block;
}

.btnbox {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 20px;
}

.tolist {
    background-color: #ffd520;
    font-size: 1.1rem;
    width: 120px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
}
.tolist a {
    line-height: 30px;
    font-family: "Pretendard-Regular", sans-serif;
}

.topost {
    border: none;
    background-color: #ffd520;
    font-size: 1.1rem;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "logo", sans-serif;
}

/* view */

.dataimg {
    width: 300px;
}

.dataimg img {
    width: 100%;
}
