* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration-line: none;
}

#developBoard header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  z-index: 99;
  background-color: #344770;
}

#pageTitle {
  width: 100%;
  max-width: 1920px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
#pageTitle > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 99;
}

#pageTitle > img {
  width: 100%;
  opacity: 0.5;
}

.writeBTn {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 10px;
}

#developBody .userWork {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userWork ul {
  display: flex;
  flex-direction: column;
}

li img {
  width: 100px;
}
