@font-face {
    font-family: "logo";
    src: url("/fonts/ttf/KaushanScript-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}

#wrap {
    width: 100%;
    position: relative;
}

#header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 5px 30px;
    z-index: 99;
    background-color: #344770;
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    font-family: "logo", sans-serif;
    font-size: 1.8rem;
    line-height: 35px;
    color: #fff;
    padding: 7px 14px;
}

.header-logo a {
    color: #fff;
}
.header-icon {
    width: 50px;
    padding: 10px;
}

.header-icon img {
    width: 100%;
}

/* drop */

.full-drop {
    z-index: 999;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    /* border: 1px solid wheat; */
    overflow: hidden;
    transition: 0.5s;
    height: 0;
    background-color: #344770;
}

#header:hover .full-drop {
    height: 45px;
}

.drop-wrap {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-right: 50px;
    padding-bottom: 8px;
}
.drop-down {
    width: 25%;
    /* border: 1px solid #ffd520; */
    list-style: none;
    padding: 0;
    margin: 0;
}
.drop-down > a {
    display: block;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    margin: 0;
}
.drop-down > a:hover {
    background-color: #ffd520;
    color: black;
    font-weight: bold;
}

#container {
    width: 100%;
    background-color: #344770;
    position: relative;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #344770;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#footer a {
    width: 40px;
}

#footer a img {
    width: 100%;
}

/* slide */
.slideBox {
    width: 100%;
    max-width: 1920px;
    height: 400px;
}

.slide {
    width: 100%;
    margin: auto;
    transition: transform 0.5s ease;
    display: block;
}

.slide img {
    width: 100%;
}

.slideController {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ellipse.active {
    background-color: #ffd520;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.ellipse {
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
