.myinfo-wrap {
    width: 100%;
    background-color: #fff;
    height: 260px;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto;
    justify-content: space-around;
}

.user-info {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 30px auto;
    gap: 30px;
    font-family: "Pretendard-Regular", sans-serif;
}

.user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffd520;
}

.user-img img {
    width: 100%;
    padding: 20px;
}

.user-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-edit {
    background-color: #ffd520;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard-Regular", sans-serif;
}

.user-edit a {
    font-size: 16px;
}

.user-edit a img {
    width: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.menu a {
    width: 25%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "logo", sans-serif;
}

/* .menu a:after {
    content: "";
    position: absolute;
    width: 45%;
    height: 5px;
    bottom: -10px;
    background-color: #7e2533;
} */

.menu a:hover {
    background-color: #5974ad;
    color: #fff;
    height: 50px;
}

.info-wrap {
    width: 100%;
    background-color: #5974ad;
    height: 413px;
    padding: 50px 0;
    font-family: "Pretendard-Regular", sans-serif;
}

.show-info {
    width: 50%;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.show-info div {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #dedede;
}

/* modify */

.usercontent {
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #dedede;
    outline: none;
    font-family: "Pretendard-Regular", sans-serif;
}

.uploadbtn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffd520;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        background: #5974ad;
        border: none;
        color: #fff;
    }
    font-family: "Pretendard-Regular", sans-serif;
}

#file {
    display: none;
}

.user-edit-edit {
    background-color: #ffd520;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mybtn {
    background-color: #ffd520;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: "Pretendard-Regular", sans-serif;
}

.user-edit-edit button img {
    width: 20px;
}

.show-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Pretendard-Regular", sans-serif;
}

.show-info input {
    border: none;
    outline: none;
    width: 50%;
    font-family: "Pretendard-Regular", sans-serif;
}
