/* * {
  margin: 0;
  padding: 0;
} */

/* html {
  font-size: 10px;
} */

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board-wrap {
    /* width: 1000px;
    margin: 100px; */

    width: 100%;
}

.board_title {
    margin-bottom: 30px;
    background-color: #ffd520;
    padding: 60px 100px;
}

.board_title strong {
    font-size: 3rem;
}

.board-title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

/* table */

.board_list {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
th,
td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #d2d2d2;
}

.board_list_wrap {
    height: 700px;
}

thead > tr {
    height: 55px;
    font-size: 1rem;
}

tbody > tr {
    height: 50px;
    text-align: center;
}

tbody > tr :nth-child(2) {
    text-align: start;
}

col.number {
    width: 8%;
}
col.title {
    width: 58%;
}
col.author {
    width: 12%;
}
col.date {
    width: 12%;
}
col.hit {
    width: 8%;
}
