<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="../../public/css/noticeBoard.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <script type="module" src="../public/js/board/list.js"></script> -->
  </head>
  <body>
    <h1>공지사항</h1>
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      {%for data in list%}
      <tbody>
        <tr>
          <td>{{data.id}}</td>
          <td>
            <a href="/notice/notices/view?id={{data.id}}">{{data.title}}</a>
          </td>
          <td>{{data.author}}</td>
          <td>{{data.createdAt}}</td>
          <td>{{data.hit}}</td>
        </tr>
      </tbody>
      {% endfor%}
    </table>

    <a href="./noticeBoard.write.html" class="btn">글쓰기</a>
  </body>
</html>
