<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice_Modify</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="header">
      <div class="header-wrap">
        <div class="header-logo">
          <a href="/">GameSync</a>
        </div>
        <div class="header-icon">
          <a href="/users/login">
            <img src="/images/my.png" alt="" />
          </a>
        </div>
      </div>
      <div class="full-drop">
        <div class="drop-wrap">
          <div class="drop-down">
            <a href="/develop/developBoards/">게임 개발 게시판</a>
          </div>
          <div class="drop-down">
            <a href="/idea/ideaBoards/">게임 기획, 아이디어 게시판</a>
          </div>
          <div class="drop-down">
            <a href="/notice/notices/">공지사항</a>
          </div>
          <div class="drop-down">
            <a href="/users/user">마이페이지</a>
          </div>
          <div class="drop-down">
            <a href="/users/admin">admin</a>
          </div>
        </div>
      </div>
    </div>
    <h1><a href="./notice">공지사항</a></h1>

    <h2>글수정</h2>
    <form method="post" action="/notice/notices/modify?id={{id}}">
      <ul>
        <li>
          <span>제목</span>
          <input type="text" name="title" value="제목입니다." />
        </li>
        <li>
          <span>작성자</span>
          <input type="text" name="author" value="작성자 입니다." />
        </li>
        <li>
          <textarea name="content">내용입니다.</textarea>
        </li>
      </ul>

      <button type="submit" class="modify">글수정</button>
    </form>
  </body>
</html>
