<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="./noticeBoard.list.html">공지사항</a></h1>

    <h2>글보기</h2>

    <ul>
      <li>
        <span>제목</span>
        <span id="title">{{data.title}}</span>
      </li>
      <li>
        <span>작성자</span>
        <span id="writer">">{{data.author}}</span>
      </li>
      <li>
        <span id="content">{{data.content}}</span>
      </li>
      <li>
        <span id="img">{{data.img}}</span>
      </li>
      <li>
        <span id="content">{{data.createdAt}}</span>
      </li>
    </ul>
    <div class="btnmenu">
      <div class="tolist">
        <a href="/idea/ideaBoards/">목록가기</a>
      </div>
      <div class="tomodify">
        <a href="/notice/notices/modify?id={{data.id}}"> 수정하기 </a>
      </div>
      <form method="post" action="/notice/notices/delete?id={{data.id}}">
        <button type="submit" class="todelete">글삭제</button>
      </form>
    </div>
  </body>
</html>
