<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="./noticeBoard.list.html">공지사항</a></h1>
    <h2 class="board-title">글쓰기</h2>
    <form id="writeform">
      <ul class="board-write-form">
        <li>
          <span>제목</span>
          <input type="text" name="title" />
        </li>
        <li>
          <span>관리자</span>
          <input type="text" name="writer" />
        </li>
        <li>
          <textarea name="content"></textarea>
        </li>
      </ul>
      <button type="submit" class="btn">글작성</button>
    </form>
  </body>
</html>
